$color__skin: #1b1a3b; // header color

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: linear-gradient(to bottom, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%);
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-comments: #bfd5d6;

$color__text-screen: #21759b;
$color__text-ins: #fffdef;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #534f88;
$color__link-visited: #898d77;
$color__link-hover: #938c4d;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__trans-background: rgba(164, 195, 192, 0.68);
$color__trans-asisde-background: rgba(103, 129, 126, 0.68);