.site-content {
	padding: 1em;
        border-radius: 5px;
        
        @media screen and (min-width: $query__small) {
            padding: 2em;
        }
}

.site-content {
	max-width: $size__max-width;
	margin: 0 auto;
}
div, section, article {
    border-radius: 5px;
}

#post-1906 {
    width: 100vw;
}

@media screen and (min-width: $query__medium) {
        .single.has-sidebar,
            .page {

                .hentry {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .entry-header {
                        width: 100%;
                        flex: 1 0 100%;
                    }

                    .post-content {
                        width: $size__ratio-large;
                        margin-right: 1em;
                    }

                    .widget-area {
                        width: $size__ratio-small;
                        margin-top: -.15em;
                        background-color: $color__trans-asisde-background;
                    }
                }
            }
            .page {
                &.has-sidebar {
                    .hentry {
                        flex-direction: row-reverse;
                    }
                }
                &:not(.has-page-sidebar) {
                    .hentry {
                        justify-content: flex-start;
                    }
                }
            }
}



@media screen and (min-width: $query__medium) {
        .single {     
            &.no-sidebar {

                    .post-content__wrap {
                            display: flex;
                            justify-content: space-between;

                            .entry-meta {
                                    width: 20%;
                            }

                            .post-content__body {
                                    width: 70%;
                            }
                    }
            }
        }    
}

.site-footer {
	clear: both;
	width: $size__max-width;
}

@import "no-sidebar";
